[Unit]
Description=OpenSSH private key agent
Wants=environment.target
Before=environment.target
IgnoreOnIsolate=true

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPost=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=${SSH_AUTH_SOCK}
# The line below is not necessary but may be useful to you.
ExecStartPost=/bin/sh -c "echo $MAINPID > %t/ssh-agent.pid"

[Install]
WantedBy=default.target
